# Requirements for the project
# For markdown
ipykernel

# For data processing and other tasks
pandas >= 2.0.0
numpy
matplotlib
tensorFlow # Which includes keras
scikit-learn # For sklearn linear regression




